#window {
  background-color: rgba(40, 40, 40, 0.71);
  border-radius: 12px;
  margin: 12px;
}

#outer-box {
  margin: 28px 34px 28px 34px;
  padding: 11px;
}

#input {
  color: #cccccc;
  background-color: rgba(34, 32, 39, 0.5);
  border-radius: 6px;
}

#scroll {
  margin-top: 10px;
  margin-bottom: 10px;
}

#inner-box {
}

#inner-box > #entry {
  padding: 12px 12px;
}

#inner-box > #entry:selected {
  background-color: rgba(49, 49, 49, 0.45);
}

#img {
  padding-right: 10px;
}

#text {
  color: #888888;
}

#text:selected {
  color: #cccccc;
}

#expander-box {
  background-color: rgba(40, 40, 40, 0);
}

#expander-box > #entry {
  padding: 6px 24px;
}

#expander-box > #entry:selected {
  background-color: rgba(49, 49, 49, 0.45);
}
